<div class="row">
  <div class="col-md-6">
    <div class="post">
      <img src="img/rails1.jpg" alt="rails" />
      <div class="post-content">
        <h3>Lorem Ipsum</h3>
        <small>Posted by Dmitry on September 4, 2015</small>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus nam, nemo vitae amet. Eligendi animi incidunt, esse labore eos blanditiis cumque deleniti, quis tenetur perferendis soluta reiciendis doloribus cupiditate minima.</p>
        <a href="#" class="btn btn-primary btn-block">Read More</a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="post">
      <img src="img/rails1.jpg" alt="rails" />
      <div class="post-content">
        <h3>Lorem Ipsum</h3>
        <small>Posted by Dmitry on September 4, 2015</small>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus nam, nemo vitae amet. Eligendi animi incidunt, esse labore eos blanditiis cumque deleniti, quis tenetur perferendis soluta reiciendis doloribus cupiditate minima.</p>
        <a href="#" class="btn btn-primary btn-block">Read More</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="post">
      <img src="img/rails1.jpg" alt="rails" />
      <div class="post-content">
        <h3>Lorem Ipsum</h3>
        <small>Posted by Dmitry on September 4, 2015</small>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus nam, nemo vitae amet. Eligendi animi incidunt, esse labore eos blanditiis cumque deleniti, quis tenetur perferendis soluta reiciendis doloribus cupiditate minima.</p>
        <a href="#" class="btn btn-primary btn-block">Read More</a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="post">
      <img src="img/rails1.jpg" alt="rails" />
      <div class="post-content">
        <h3>Lorem Ipsum</h3>
        <small>Posted by Dmitry on September 4, 2015</small>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus nam, nemo vitae amet. Eligendi animi incidunt, esse labore eos blanditiis cumque deleniti, quis tenetur perferendis soluta reiciendis doloribus cupiditate minima.</p>
        <a href="#" class="btn btn-primary btn-block">Read More</a>
      </div>
    </div>
  </div>
</div>
